*{
  margin: 0;
  padding: 0;
}
.header{
  height: 100vh;
}
.navbar-style{
  box-shadow: 0 5px  10px #efefe;
  text-transform: uppercase;
}
.logo{
  height: 48px;
  padding: 2px  10px;
}
.icon-bar{
  background-color: darkblue;
}
.li a{
  color: blue;
}
.big-text{
  font-size: 52px;
  margin: 2opx  0;
  color: darkorange;
}
a.btn{
  margin: 30px  10px;
  width: 150px;
  padding: 10px;
  border-radius: 20px;
}
a.btn-first{
  background-color: blue;
  color: white;
}
a.btn-second{
  background-color: transparent;
  border: 1px  solid darkorange;
  color: black;
}
.row{
  display: flex;
}
.row-item{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}
.cointer-box{
  background: var(--bg-color);
  border: 1px solid #f0eded;
  padding: 50px 10px;
  border-radius: 4px;
  transition: all is ease 0s;
  cursor: pointer;
}
.counter_img img{
  height: 85px;
  width: 85px;
  padding: 15px;
  background: var(--bag-color);
  box-shadow: 5px 10px 30px rgb(85 85 85, 20%);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}
.cointer-box h4{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.cointer-box p{
      font-size: 15px;
      color: var(--second-color);
}
.cointer-box:hover{
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid transparent;
  transform: translate(-3px);
}
#contact{
  background-color: darkorange;
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.footer{
  padding: 20px 0;
}
.list{
  width: 25%;
}
.list h4{
  font-size: 22px;
  color: var(--bg-color);
  margin: 30px;
  position: relative;
}
.list ul li a{
  color: white;
  display: block;
  transition: .3s;
}
.list ul li a:hover{
  color: var(--bg-clor);
  transform: translate(14px);
}
